{% include 'snippets/nav.html' %}

<!--banner-->
	<div class="banner abt-bnr">
		{% include 'snippets/header.html' %}
	</div>
	<!--//banner-->

  <div class="about">
		<div class="container">
			<div class="about-info">

          <h3>Contact</h3>

        <br><br><br>  <p style="font-family:courier;">Contact information is currently unavailable.<br>Please stay tuned.</p>
				<p style="font-family:courier;">Email : agrifin@northsouth.edu</p>
				<p style="font-family:courier;">Mobile No : +880.......</p><br><br><br><hr>

      </div>
    </div>
  </div>


  {% include 'snippets/footer.html' %}
