
{% include 'snippets/nav.html' %}




<div class="banner">
  {% include 'snippets/header.html' %}
  <div class="banner-text">
  <h1>“To most people, this is just dirt.<br>
To a farmer, it is potential.”</h1>
    <p>Doe Zantamata</p>
  </div>
</div>

<div class="about">
  <div class="container">
    <div class="about-info">


                <div class="col-md-6 about-grids">
                  <h5>Bangladesh is known as the land of rivers. The rivers carry nutrient rich silt to the vast delta that lies within the country, leading to very fertile and arable land for agriculture.  </h5>
                <br><br>  <br><br><img src="/static/images/home.jpg" alt=""/>
                  <hr></p>
                </div>



                  <div class="col-md-6 about-grids">
                    <h3>According to wikipedia:  </h3>

                <p style="font-family:courier;"><strong>"Agriculture is the largest employment sector in Bangladesh. As of 2016, it employs 47% of the total labour force and comprises 16% of the country's GDP. The performance of this sector has an overwhelming impact on major macroeconomic objectives like employment generation, poverty alleviation, human resources development and food security."</strong></p>
                <p style="font-family:courier;">
However, like many developing countries Bangladesh still faces some problems presented by old-fashioned systems of doing business. Most farmers have to lease land by season. This system puts all the risks of the business on the farmer and puts the landlords at an unfair advantage.</p>
        <p style="font-family:courier;">AgriFin is a platform for investors and independent farmers to collaborate on the agriculture industry. Investors can buy shares of a specific harvest, while farmers can finally get the capital they require without having to carry all the risk. We hope that the bottleneck in the traditional africultural finance system can be overcome with easy, fair and fast alternative.</p>
                    <hr>

                  </div>
        </div>
      </div>
    </div>


{% include 'snippets/footer.html' %}
