
{% include 'snippets/nav.html' %}
<style>
.contact-form input[type="password"], select {
    display: inline-block;
    background: none;
    border: 1px solid #8D8D8D;
    width: 100%;
    outline: none;
    font-size: 1em;
    color: #8D8D8D;
    padding: .8em 1em;
    -webkit-appearance: none;
}

</style>
<!--banner-->
	<div class="banner abt-bnr">
		{% include 'snippets/header.html' %}
	</div>
	<!--//banner-->


{% block content %}


<div class="contact">
  <div class="container">
    <div class=" contact-form">
  <br><br><center><h2>Change Password</h2></center><br><br>
  {% if not user.has_usable_password %}
  <strong>  <p style="color: red">You have not defined a password yet.</p></strong>
  {% endif %}
  <form method="post">
		<div class="col-md-12 form-grids">

    {% csrf_token %}
    {{ form.as_p }}
<br><br><center>  <button type="submit" class="btn btn-1 btn-1d">Updade</button></center>
		</div>
		  <div class="clearfix"> </div>
  </form>

{% endblock %}
</div>
</div>
</div>
<!--about-->


{% include 'snippets/footer.html' %}
