

{% include 'snippets/nav.html' %}
<style>
.contact-form input, select {
    display: inline-block;
    background: none;
    border: 1px solid #8D8D8D;
    width: 100%;
    outline: none;
    font-size: 1em;
    color: #8D8D8D;
    padding: .8em 1em;
    -webkit-appearance: none;
}

</style>
<!--banner-->
	<div class="banner abt-bnr">
		{% include 'snippets/header.html' %}
	</div>
	<!--//banner-->
  <!--contact-->
	<div class="contact">
		<div class="container">
			<div class=" contact-form">
				<h3>Update Land Profile</h3>
				<form method="post">
					<div class="col-md-12 form-grids">
            {% csrf_token %}
            {% for field in form %}
            <p>
            {{ field.label_tag }}<br>
            {{ field }}
            </p>
            </br>
            {% endfor %}

            <br><br><center><button class="btn btn-1 btn-1d" type="submit"> Update</button></center>
          </div>

					<div class="clearfix"> </div>
				</form>
			</div>
		</div>
	</div>
	<!--//contact-->

{% include 'snippets/footer.html' %}
