{% include 'snippets/nav.html' %}

<!--banner-->
	<div class="banner abt-bnr">
		{% include 'snippets/header.html' %}
	</div>
	<!--//banner-->

  <div class="about">
		<div class="container">
			<div class="about-info">

{% block content %}

<ul>
{% for obj in object_list %}
    <ul align="center"><a href='/market/{{ obj.land.id }}/' class="btn btn-1 btn-1d">{{ obj.land }}</a><br><br>
      <li class="list-group-item"><p style="font-family:courier;">Amount : {{obj.amount}}</p></li>
    <li class="list-group-item"><p style="font-family:courier;">Share Price:  {{obj.land.share_price}}</p></li></ul>
{% endfor %}
</ul>

{% endblock %}

	<br><br><ul align="center"><a href='/profile/' class="btn btn-1 btn-1d">Back</a><br><br>
</div>
</div>
</div>


{% include 'snippets/footer.html' %}
