{% include 'snippets/nav.html' %}

<!--banner-->
	<div class="banner abt-bnr">
		{% include 'snippets/header.html' %}
	</div>
	<!--//banner-->

  <div class="about">
		<div class="container">
			<div class="about-info">

{% block content %}

	<p style="font-family:courier;"><h2 align ="center">{{ object.first_name }} {{ object.last_name }}</h2></p>
<ul class="list-group" align ="center">
    <li class="list-group-item"><p style="font-family:courier;">Username:  {{ object.username }}</p></li>
    <li class="list-group-item"><p style="font-family:courier;">Status: {{ object.status }}</p></li>
    <li class="list-group-item"><p style="font-family:courier;">Birth date: {{ object.birth_date }}</p></li>
    <li class="list-group-item"><p style="font-family:courier;">Bio : {{ object.bio }}</p></li>
    <li class="list-group-item"><p style="font-family:courier;">Email id : {{ object.email }}</p></li>

		<br><br><p style="font-family:courier;" ><strong><font color="#000000">last loged in  </font>(UTC):</strong> {{ object.last_login }}</p>
		<p style="font-family:courier;" ><strong><font color="#000000">			Joined on        </font>(UTC):</strong> {{ object.date_joined }}</p>

    {% if request.user.status == 2 %}
    <br><br><a href='/profile/history/' class="btn btn-1 btn-1d">History</a>
    {%elif request.user.status == 1%}
  <br><br>  <a href='/profile/history/' class="btn btn-1 btn-1d">Farms</a>
    {% endif %}
</ul>

{% endblock %}

      </div>
    </div>
  </div>


  {% include 'snippets/footer.html' %}
