
<div class="footer">
  <div class="container">
    <div class="footer-row">
      <div class="col-md-4 footer-grids">
        <h3>Navigation</h3>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About us</a></li>
          <!--<li><a href="products.html">Products</a></li>
          <li><a href="typo.html">Typo</a></li>-->
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4 footer-grids">
        <h3>Services</h3>
        <ul>
          <li><a href="#">Better way farm management experience.</a></li>
          <li><a href="#">Micro Finance in agriculture.</a></li>
          <li><a href="#">Try to boost our economy .</a></li>
        <!--  <li><a href="#">Porta acdapibus conseac</a></li>
          <li><a href="#">Lemollis bulumat eros</a></li>-->
        </ul>
      </div>
      <div class="col-md-4 footer-grids">
        <h2><a href="/">AgriFin</a></h2>
        <p>Invest in agriculture for better future. <p>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
<div class="footer-bottom">
  <div class="container">
    <div class="footer-left">
      <p>Copyright © 2017 <a  href="/"><font color="blue" >AgriFin.</font></a> All rights reserved</p>
    </div>
    <div class="footer-right">
      <ul class="icons">
        <li><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"> </a></li>
        <li><a class="drbl" href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"> </a></li>

        <!--<li><a class="twt" href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"> </a></li>
        <li><a class="drbl" href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"> </a></li>
        <li><a class="be" href="#" data-toggle="tooltip" data-placement="top" title="Behance"> </a></li>
      -->
      </ul>
    </div>
    <script>$(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })</script>
  </div>
</div>
<script src="/static/js/bootstrap.js"> </script>
</body>
</html>
